@font-face {
    font-family: "Outfit-Bold";
    src: url("../fonts/Outfit-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Outfit";
    src: url("../fonts/outfit/static/Outfit-Light.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Young Serif";
    src: url("../fonts/young-serif/YoungSerif-Regular.ttf");
    font-display: swap;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(30, 54%, 90%);
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: .75rem;
}

.card {
    max-width: 32rem;
    padding: 1.25rem;
    background-color: hsl(0, 0%, 100%);
}

@media screen and (min-width: 32rem) {
    .card {
        margin: 1rem;
        border-radius: 0.625rem;
    }
}

.card-image img {
    border-radius: 0.625rem;
    height: auto;
    block-size: auto;
    object-fit: cover;
    object-position: top center;
}

h1, h2 {
    font-family: "Young Serif";
}

h1 {
    font-size: 2rem;
}

.card-section {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.preparation-time {
    background-color: hsl(330, 100%, 98%);
    border-radius: 0.3125rem;
    padding: 0.625rem;
}

.preparation-time ul li::marker {
    color: hsl(332, 51%, 32%);
}

.ingredients ul li::marker {
    color: hsl(14, 45%, 36%);
}

.instructions ol li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}

.preparation-time ul,
.ingredients ul,
.instructions ol {
    padding-left: 1rem;
    
}

.fc-rose-800 {
    color: hsl(332, 51%, 32%);
}

.fc-brown-800 {
    color: hsl(14, 45%, 36%);
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0.5rem;
}

.table td {
    padding: 0.625rem;
    border-bottom: 0.0625rem solid hsl(0, 0%, 90%);
}

.table tr:last-child td {
    border-bottom: none;
}

.table td:nth-child(2) {
    color: hsl(14, 45%, 36%);
    font-family: "Outfit-Bold";
    font-weight: 600;
}